{
  "openapi": "3.1.0",
  "info": {
    "title": "반짝이 API",
    "version": "1.0.0",
    "description": "반짝이 앱 API 명세"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://banjjak.me:8444",
      "description": "개발 서버"
    }
  ],
  "paths": {
    "/api/verify-email": {
      "post": {
        "summary": "이메일 인증 코드 요청",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "인증 코드 전송 성공"
          },
          "400": {
            "description": "등록되지 않은 이메일 도메인",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "가입이 제한된 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "이메일 인증 코드 확인",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 6
                  }
                },
                "required": [
                  "email",
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "인증 성공"
          },
          "400": {
            "description": "코드 오류 또는 만료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/register": {
      "post": {
        "summary": "회원가입 (이메일 인증 선행 필요)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "pattern": "^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_\\-+=[{\\]};:'\",.<>/?\\\\|`~]).{10,25}$",
                    "minLength": 10,
                    "maxLength": 25
                  },
                  "name": {
                    "type": "string"
                  },
                  "birth": {
                    "type": "string"
                  },
                  "termsAccepted": {
                    "type": "boolean",
                    "const": true
                  },
                  "gender": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1
                  }
                },
                "required": [
                  "email",
                  "password",
                  "name",
                  "birth",
                  "termsAccepted",
                  "gender"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "회원가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "birth": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "joinedAt": {
                          "type": "string"
                        },
                        "reportedCount": {
                          "type": "integer"
                        },
                        "isDeactivated": {
                          "type": "boolean"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "birth",
                        "gender",
                        "joinedAt",
                        "reportedCount",
                        "isDeactivated",
                        "termsAccepted"
                      ]
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "member",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "이메일 미인증 또는 중복",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/logout": {
      "post": {
        "summary": "로그아웃",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그아웃 완료"
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "summary": "로그인",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "birth": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "joinedAt": {
                          "type": "string"
                        },
                        "reportedCount": {
                          "type": "integer"
                        },
                        "isDeactivated": {
                          "type": "boolean"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "birth",
                        "gender",
                        "joinedAt",
                        "reportedCount",
                        "isDeactivated",
                        "termsAccepted"
                      ]
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "member",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "이메일 또는 비밀번호 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/institutions": {
      "get": {
        "summary": "기관 목록 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "기관 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "emailDomain": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "emailDomain"
                        ]
                      }
                    }
                  },
                  "required": [
                    "institutions"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/institutions/bounds": {
      "get": {
        "summary": "기관 경계 정보 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "기관 경계 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bounds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "institutionId": {
                            "type": "integer"
                          },
                          "startLat": {
                            "type": "number"
                          },
                          "startLon": {
                            "type": "number"
                          },
                          "defaultLat": {
                            "type": "number"
                          },
                          "defaultLon": {
                            "type": "number"
                          },
                          "endLat": {
                            "type": "number"
                          },
                          "endLon": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "institutionId",
                          "startLat",
                          "startLon",
                          "defaultLat",
                          "defaultLon",
                          "endLat",
                          "endLon",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "bounds"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/markers": {
      "get": {
        "summary": "마커 목록 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "마커 목록 반환 (차단된 마커 제외)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "postId": {
                            "type": "integer"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "expiresAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "isWrittenBySelf": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "postId",
                          "latitude",
                          "longitude",
                          "expiresAt",
                          "createdAt",
                          "isWrittenBySelf"
                        ]
                      }
                    }
                  },
                  "required": [
                    "markers"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (토큰 누락 또는 유효하지 않음)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/members/me": {
      "delete": {
        "summary": "회원 탈퇴",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원탈퇴 완료"
          }
        }
      },
      "get": {
        "summary": "내 정보 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "birth": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "joinedAt": {
                          "type": "string"
                        },
                        "reportedCount": {
                          "type": "integer"
                        },
                        "isDeactivated": {
                          "type": "boolean"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        },
                        "hasUnreadChat": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "birth",
                        "gender",
                        "joinedAt",
                        "reportedCount",
                        "isDeactivated",
                        "termsAccepted",
                        "hasUnreadChat"
                      ]
                    }
                  },
                  "required": [
                    "member"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 또는 토큰 누락",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/members/active_posts": {
      "get": {
        "summary": "하루동안 생성한 게시글 개수 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "24시간 이내 작성한 게시글 개수 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (토큰 누락 또는 유효하지 않음)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{postId}": {
      "get": {
        "summary": "게시글 단일 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "iconIdx": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "isDeactivated": {
                      "type": "boolean"
                    },
                    "likeCount": {
                      "type": "integer"
                    },
                    "viewCount": {
                      "type": "integer"
                    },
                    "isWrittenBySelf": {
                      "type": "boolean"
                    },
                    "isLikedBySelf": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "iconIdx",
                    "title",
                    "content",
                    "createdAt",
                    "expiresAt",
                    "address",
                    "isDeactivated",
                    "likeCount",
                    "viewCount",
                    "isWrittenBySelf",
                    "isLikedBySelf"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "게시글 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "게시글 삭제",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공"
          },
          "400": {
            "description": "삭제 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "게시글 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/posts": {
      "post": {
        "summary": "게시글 생성",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 63
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "address": {
                    "type": "string",
                    "maxLength": 63
                  },
                  "iconIdx": {
                    "type": "integer"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                },
                "required": [
                  "title",
                  "content",
                  "address",
                  "iconIdx",
                  "latitude",
                  "longitude"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "number"
                    },
                    "markerId": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "postId",
                    "markerId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/reports": {
      "post": {
        "summary": "신고 등록",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reportType": {
                    "type": "string",
                    "enum": [
                      "POST_REPORT",
                      "CHATROOM_REPORT"
                    ]
                  },
                  "postId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "chatroomId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "reportType",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "신고 등록 성공"
          },
          "400": {
            "description": "잘못된 요청 또는 자기 자신 신고 시도",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "대상 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/likes": {
      "post": {
        "summary": "게시글 좋아요 추가",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          },
          {
            "in": "query",
            "name": "postId",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "postId": {
                  "type": "number"
                }
              },
              "required": [
                "postId"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "좋아요 추가 성공"
          },
          "400": {
            "description": "이미 좋아요한 게시글",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "게시글 좋아요 취소",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          },
          {
            "in": "query",
            "name": "postId",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "postId": {
                  "type": "number"
                }
              },
              "required": [
                "postId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "좋아요 취소 성공"
          },
          "400": {
            "description": "좋아요하지 않은 게시글",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/locations": {
      "post": {
        "summary": "위치정보 제공",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                },
                "required": [
                  "latitude",
                  "longitude"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "위치정보 제공 성공"
          },
          "400": {
            "description": "권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/notifications": {
      "put": {
        "summary": "푸쉬토큰 업데이트",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "푸쉬토큰 업데이트 성공"
          },
          "400": {
            "description": "권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/chatrooms/:id": {
      "delete": {
        "summary": "채팅방 비활성화 (나가기)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "채팅방 나가기 완료"
          },
          "403": {
            "description": "본인이 참여하지 않은 채팅방 나가기 시도",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "채팅방의 채팅 내역 반환. 채팅 id값이 cursor-(limit+1)~cursor-1 인 채팅을 반환.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "id값이 cursor-(limit+1)~cursor-1 인 채팅을 반환.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chats": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "receivedChat",
                              "sentChat"
                            ]
                          },
                          "id": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "content",
                          "createdAt",
                          "type",
                          "id"
                        ]
                      }
                    },
                    "lastChatId": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "chats",
                    "lastChatId"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "본인이 참여하지 않은 채팅방 정보 조회 시도",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/chatrooms": {
      "get": {
        "summary": "채팅방 정보 반환",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "채팅방 정보 반환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatrooms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "peerNickname": {
                            "type": "string"
                          },
                          "myNickname": {
                            "type": "string"
                          },
                          "post": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "iconIdx": {
                                "type": "integer"
                              },
                              "title": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "expiresAt": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "isDeactivated": {
                                "type": "boolean"
                              },
                              "likeCount": {
                                "type": "integer"
                              },
                              "viewCount": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "id",
                              "iconIdx",
                              "title",
                              "content",
                              "createdAt",
                              "expiresAt",
                              "address",
                              "isDeactivated",
                              "likeCount",
                              "viewCount"
                            ]
                          },
                          "lastMessage": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "createdAt",
                              "content"
                            ]
                          },
                          "unreadMessageCount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "peerNickname",
                          "myNickname",
                          "post",
                          "lastMessage",
                          "unreadMessageCount"
                        ]
                      }
                    }
                  },
                  "required": [
                    "chatrooms"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "채팅방 생성",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "postId": {
                    "type": "integer"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": [
                  "postId",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "채팅방 생성 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "receivedChat"
                    },
                    "chatroomId": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "authorNickname": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "chatroomId",
                    "content",
                    "createdAt",
                    "authorNickname"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "차단되어 채팅방을 생성할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks": {
      "post": {
        "summary": "사용자 차단",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt>"
            }
          },
          {
            "in": "query",
            "name": "blockType",
            "schema": {
              "type": "string",
              "enum": [
                "post",
                "chatroom"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "postId",
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "chatroomId",
            "schema": {
              "type": "number",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "사용자 차단 성공"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}