{
  "openapi": "3.1.0",
  "info": {
    "title": "반짝이 API",
    "version": "1.0.0",
    "description": "반짝이 앱 API 명세"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://banjjak.me:8444",
      "description": "개발 서버"
    }
  ],
  "paths": {
    "/api/verify-email": {
      "post": {
        "summary": "이메일 인증 코드 요청",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "인증 코드 전송 성공"
          },
          "400": {
            "description": "등록되지 않은 이메일 도메인",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "이메일 인증 코드 확인",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 6
                  }
                },
                "required": [
                  "email",
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "인증 성공"
          },
          "400": {
            "description": "코드 오류 또는 만료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/register": {
      "post": {
        "summary": "회원가입 (이메일 인증 선행 필요)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "pattern": "^(?=.*[A-Za-z])(?=.*\\d)(?=.*[!@#$%^&*()_\\-+=[{\\]};:'\",.<>/?\\\\|`~]).{10,25}$",
                    "minLength": 10,
                    "maxLength": 25
                  },
                  "name": {
                    "type": "string"
                  },
                  "birth": {
                    "type": "string"
                  },
                  "termsAccepted": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "email",
                  "password",
                  "name",
                  "birth",
                  "termsAccepted"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "회원가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "birth": {
                          "type": "string"
                        },
                        "joinedAt": {
                          "type": "string"
                        },
                        "reportedCount": {
                          "type": "integer"
                        },
                        "isDeactivated": {
                          "type": "boolean"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "birth",
                        "joinedAt",
                        "reportedCount",
                        "isDeactivated",
                        "termsAccepted"
                      ]
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "member",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "이메일 미인증 또는 중복",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/login": {
      "post": {
        "summary": "로그인",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "birth": {
                          "type": "string"
                        },
                        "joinedAt": {
                          "type": "string"
                        },
                        "reportedCount": {
                          "type": "integer"
                        },
                        "isDeactivated": {
                          "type": "boolean"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "birth",
                        "joinedAt",
                        "reportedCount",
                        "isDeactivated",
                        "termsAccepted"
                      ]
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "member",
                    "token"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "이메일 또는 비밀번호 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/institutions": {
      "get": {
        "summary": "기관 목록 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "기관 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "emailDomain": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "emailDomain"
                        ]
                      }
                    }
                  },
                  "required": [
                    "institutions"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/institutions/bounds": {
      "get": {
        "summary": "기관 경계 정보 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "기관 경계 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bounds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "institutionId": {
                            "type": "integer"
                          },
                          "startLat": {
                            "type": "number"
                          },
                          "startLon": {
                            "type": "number"
                          },
                          "defaultLat": {
                            "type": "number"
                          },
                          "defaultLon": {
                            "type": "number"
                          },
                          "endLat": {
                            "type": "number"
                          },
                          "endLon": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "institutionId",
                          "startLat",
                          "startLon",
                          "defaultLat",
                          "defaultLon",
                          "endLat",
                          "endLon",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "bounds"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/markers": {
      "get": {
        "summary": "마커 목록 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "마커 목록 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "postId": {
                            "type": "integer"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "expiresAt": {
                            "type": "string"
                          },
                          "isWrittenBySelf": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "postId",
                          "latitude",
                          "longitude",
                          "expiresAt",
                          "isWrittenBySelf"
                        ]
                      }
                    }
                  },
                  "required": [
                    "markers"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (토큰 누락 또는 유효하지 않음)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/members/me": {
      "get": {
        "summary": "내 정보 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "member": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "birth": {
                          "type": "string"
                        },
                        "joinedAt": {
                          "type": "string"
                        },
                        "reportedCount": {
                          "type": "integer"
                        },
                        "isDeactivated": {
                          "type": "boolean"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "name",
                        "birth",
                        "joinedAt",
                        "reportedCount",
                        "isDeactivated",
                        "termsAccepted"
                      ]
                    }
                  },
                  "required": [
                    "member"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 또는 토큰 누락",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/members/active_posts": {
      "get": {
        "summary": "하루동안 생성한 게시글 개수 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "24시간 이내 작성한 게시글 개수 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "count"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (토큰 누락 또는 유효하지 않음)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/posts/{postId}": {
      "get": {
        "summary": "게시글 단일 조회",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "addressDetail": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isDeactivated": {
                      "type": "boolean"
                    },
                    "isWrittenBySelf": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "content",
                    "createdAt",
                    "expiresAt",
                    "address",
                    "addressDetail",
                    "isDeactivated",
                    "isWrittenBySelf"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "게시글 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "게시글 삭제",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공"
          },
          "400": {
            "description": "삭제 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "게시글 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/posts": {
      "post": {
        "summary": "게시글 생성",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 63
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "address": {
                    "type": "string",
                    "maxLength": 63
                  },
                  "addressDetail": {
                    "type": "string",
                    "maxLength": 63
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  }
                },
                "required": [
                  "title",
                  "content",
                  "address",
                  "addressDetail",
                  "latitude",
                  "longitude"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "postId": {
                      "type": "number"
                    },
                    "markerId": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "postId",
                    "markerId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "요청 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/reports": {
      "post": {
        "summary": "신고 등록",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer 토큰",
            "schema": {
              "type": "string",
              "example": "Bearer <your-jwt-token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reportType": {
                    "type": "string",
                    "enum": [
                      "POST_REPORT",
                      "CHATROOM_REPORT"
                    ]
                  },
                  "postId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "chatroomId": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "reportType",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "신고 등록 성공"
          },
          "400": {
            "description": "잘못된 요청 또는 자기 자신 신고 시도",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "대상 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}